*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: radial-gradient(#080E18, #0e2433, #080E18);
  text-align: center;
}
@font-face {
  font-family:"beaufortforlol";
  src: url(Beaufort.ttf);
}
@font-face {
  font-family:"Baloo Chettan 2";
  src: url(BalooChettan2.ttf);
}
h1{
  font-family: "beaufortforlol";
  color: #C4C4C4;  
  font-size: 20px;
}
p{
  font-family: "Baloo Chettan 2" !important;
  color: #C4C4C4;  
  font-size: 20px;
  font-weight: 600;
}
h2{
  font-family: "beaufortforlol";
  font-size: 30px;  
  background: -webkit-linear-gradient(rgb(54, 171, 179), #C4C4C4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;    
  padding-bottom: 5px;   
}
#tittleChampion{
  font-family: "beaufortforlol";
  color: #C4C4C4;
  font-size: 35px;
}
#orderButton, #orderChamps {
  height: 100px;
}
#orderChamps{
  margin-bottom: 50px;
}
#orderButton{
  position: absolute;
  right: 0px;
  top: 0px;
}
.frameImg{
  width: 250px;
  padding-bottom: 5px;
}
.skullImg{
  width: 20px !important;
  position: relative;
  float: left;
  display: inline;
  left: 70px;
}
#logoImg{
  width: 30%; 
  height: auto;
}
button {  
  display: inline-block;
  width: 150px; 
  padding: 0.8rem; 
  border: none;
  border-top: solid 2px rgba(49, 228, 241, 0.466);
  border-bottom: solid 2px rgba(49, 228, 241, 0.466);
  font-size: 15px;
  font-family: "Baloo Chettan 2",;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
  background: transparent;
  color:#ffffff;  
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  margin: 50px auto;
  transition: all 150ms ease-in-out;
}
button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  background-color: rgb(109, 217, 236) ;
  color:#142021;
}
.active {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  background-color: rgb(109, 217, 236) ;
  color:#142021;
}
#root{
  margin: auto;
  width: 80%;
  padding: 10px; 
  text-align: center;
}
.targetChampion{
  width: 25%;    
  float: left;
  padding: 10px;  
}
.targetChampion .championImg{
  width: 100%;
  border-style: inset;
  border-color: rgba(49, 228, 241, 0.466);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
}
.targetChampion .championImg:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  background-color: rgb(109, 217, 236) ;
  color:#142021;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 767px) {
  h2{
    width: 600px;
    border-radius: 15px;
  }
}
@media screen and (max-width: 600px) {
  h2{
    width: 600px;
    border-radius: 15px;
  }
}